{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">分类列表</li>
            <li class=""><a href="{:url('admin/category/create')}">添加分类</a></li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th style="width: 30px;">ID</th>
                        <th>排序</th>
                        <th>名称</th>
                        <th>别名</th>
                        <th>简介</th>
                        <th>图标</th>
                        <th>类型</th>
                        <th>父分类</th>
                        <th>路径</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="category_list" item="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.sort}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.alias}</td>
                        <td>{$vo.content}</td>
                        <td>{$vo.icon}</td>
                        <td>{php}echo $vo['type']==2 ? '时间轴' : '文章';{/php}</td>
                        <td>{$vo.pid}</td>
                        <td>{$vo.path}</td>
                        <td>
                            <a href="{:url('admin/category/edit',['id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-mini">编辑</a>
                            <a href="{:url('admin/category/delete',['id'=>$vo['id']])}" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                {//$category_list->render()}
            </div>
        </div>
    </div>
</div>
{/block}