{extend name="base"}
{block name="site_title"} | 关于{/block}
{block name="title"}关于页面{/block}

{block name="css"}
<link rel="stylesheet" href="__CSS__/style.css">
<link rel="stylesheet" href="__CSS__/github-markdown.min.css">
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

{/block}
{block name="body"}
<div style="padding-top: 20px;">
    <div class="layui-card">
        <div class="layui-card-header">关于</div>
        <div class="layui-card-body">


                <p>因为各种原因：</p>
                <blockquote>
                    <ol>
                        <li>服务器到期没钱续费</li>
                        <li>主机屋免费主机不能用</li>
                        <li>国外某主机被阻挡</li>
                        <li>操作失误导致文件被删</li>
                        <li>新浪sae忘记续费被删站</li>
                    </ol>
                </blockquote>
                <p>也搭建过各种类型的博客：</p>
                <blockquote>
                    <ol class="layui-li">
                        <li>WordPress（没发现好的主题，现在依然保留了一个）</li>
                        <li>java写的一个（大学刚学的时候练手的，后来不小心丢了代码）</li>
                        <li>Django写的一个（基于网上的教程写的，功能太过简单）</li>
                        <li>PHP写的（基于yii写的，没添加markdown支持，而且稳定性不好，所以一放弃了）</li>
                        <li>HEXO（搭建过好几次）</li>
                        <li>又一次尝试自己用PHP写,这次基于TP5框架,不知道能坚持多久,希望我能坚持迭代版本吧</li>
                    </ol>
                </blockquote>
                <h2 id="联系方式"><a href="#联系方式" class="headerlink" title="联系方式"></a>联系方式</h2><ul>
                <li><i class="fa fa-envelope"></i>&nbsp;邮件：<a href="mailto:qlmlove@foxmail.com" target="_blank" rel="noopener">qlmlove@foxmail.com</a></li>
                <li><i class="fa fa-git"></i>&nbsp;码云：<a href="https://git.oschina.net/jdxq" target="_blank" rel="noopener">https://git.oschina.net/jdxq</a></li>
                <li><i class="fa fa-github"></i>&nbsp;GitHub：<a href="https://github.com/qlmlove" target="_blank" rel="noopener">https://github.com/qlmlove</a></li>
                <li><i class="fa fa-weibo"></i>&nbsp;微博：<a href="http://weibo.com/212022567" target="_blank" rel="noopener">http://weibo.com/212022567</a></li>
            </ul>

        </div>
    </div>
</div>
{/block}


