{extend name="base"}
{block name="title"}{$site_config.seo_title ?? ''}{/block}
{block name="body"}
<div style="padding-top: 20px;">
    <div class="articleList">
        {volist name="article_list" id='vo'}
        <div class="layui-card layui-anim layui-anim-scale">
            <div class="layui-card-header">
                <a href="{:url('/article/')}{$vo.id}" style="font-size: large">
                    <span>
                    {$vo.title}
                        {if $vo.is_top}
                        <span class="layui-badge">置顶</span>
                        {/if}
                        {if $vo.is_recommend}
                        <span class="layui-badge">推荐</span>
                        {/if}
                    </span>
                </a>
                <span class="card-span"><a href="{:url('/articles/')}{$vo.cid ?? ''}">分类:{$vo.category.name ?? '无分类'}</a> | 阅读量:<span class="layui-badge">{$vo.reading ?? '0'}</span> | 由 <strong>{$vo.author ?? '作者'}</strong> 发布于 <strong>{$vo.time_txt ?? ''}</strong></span>
            </div>
            <div class="layui-card-body" style="margin: 10px">
                {if !$vo.introduction}
                该文章没有摘要信息
                {/if}
                {$vo.introduction ?? ''}
                <br>
                <div>

                    <!--<hr class="">-->
                    <br>
                    <a href="{:url('/article/')}{$vo.id}">
                        <button class="layui-btn" style="position: relative;float: right;">阅读更多</button>
                    </a>
                    <br>
                </div>
            </div>
        </div>
        {/volist}
    </div>
</div>
{/block}