{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">时间线列表</li>
            <li class=""><a href="{:url('admin/timeline/create')}">添加时间线文章</a></li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th style="width: 30px;">ID</th>
                        <th>文章作者</th>
                        <th>文章分类</th>
                        <th>文章</th>
                        <th>文章状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="timeline_list" item="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.author}</td>
                        <td>{$vo.category.name}</td>
                        <td>{$vo.content}</td>
                        <td>{$vo.status ? '显示':'隐藏'}</td>
                        <td>
                            <a href="{:url('admin/timeline/edit',['id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-mini">编辑</a>
                            <a href="{:url('admin/timeline/delete',['id'=>$vo['id']])}" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/block}