{extend name="base"}
{block name="body"}

<form method="post" action="">
    <label>名字<input type="text" name="name"></label>
    <label>密码<input type="text" name="password"></label>
    <label>验证码<input type="text" name="captcha"></label>
    <label><img src="{:captcha_src()}" onclick="this.src=this.src+'?'" /></label>
    <button>提交</button>
    <button>重置</button>
</form>
{/block}