{extend name="base"}
{block name="site_title"} | {$article.title ?? ''}{/block}
{block name="css"}
<link rel="stylesheet" href="__CSS__/style.css">
<link rel="stylesheet" href="__CSS__/github-markdown.min.css">
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

{/block}
{block name="title"}
{$article.title ?? ''}
{/block}
{block name="subtitle"}<a href="{:url('/articles/')}{$article.cid ?? ''}">分类:{$article.category.name}</a> | 阅读量:<span
        class="layui-badge">{$article.reading ?? '0'}</span> | 由<strong>{$article.author ?? '作者'}</strong>,发布于
<strong>{$article.time_txt ?? ''}</strong>{/block}
{block name="body"}
<div style="padding-top: 20px;">
    <div style="display: none" id="article_id">{$article.id}</div>
    <div class="articleList" id="preview">

    </div>

    <!--展示评论-->
    <div class="layui-card comments">
        <div class="layui-card-header" style="margin-top:10px">评论列表</div>
        <div class="layui-card-body">
            {volist name='article.reply' id='replies_item'}
            <div class="layui-card comment-item" id="reply{$replies_item.id}">
                <div class="layui-card-header" style="margin-top: 10px;">
                    <span class="layui-badge layui-bg-green">{$i}楼</span>{$replies_item.author}
                    <span class="layui-badge"><a href="mailto://{$replies_item.email}">
                        <i class="fa fa-mail-reply-all"></i></a></span>
                    <span data-content-id="{$replies_item.id}" class="layui-badge layui-bg-cyan" onclick="love(this)">
                        <i class="layui-icon layui-icon-praise"></i>
                        <span>{$replies_item.love ?? '0'}</span>
                    </span>
                    评论时间: <span class="layui-badge layui-bg-cyan">{$replies_item.time_txt ?? ''}</span>
                </div>
                <div class="layui-card-body">
                    {$replies_item.content}

                </div>
            </div>
            {/volist}
        </div>
    </div>

    <!--展示评论结束-->
    <!--评论模块-->
    <div class="layui-card reply">
        <div class="layui-card-header" style="margin-top:10px">评论</div>
        <div class="layui-card-body">
            <form class="layui-form" action="{:url('/reply/')}" method="post">
                <input type="hidden" name="article_id" value="{$article.id}">
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">昵称</label>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input type="text" name="author" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">邮箱</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <input type="email" name="email" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">文本域</label>
                    <div class="layui-input-block">
                        <textarea name="content" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">


                    <div class="layui-inline">
                        <label class="layui-form-label">验证码</label>
                        <div class="layui-input-inline" style="width: 100px;">
                            <img src="{:captcha_src()}" width="120px" alt="点击更换" title="点击更换"
                                 onclick="this.src= '{:url('/captcha')}'">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: 100px;">
                            <input type="text" name="captcha" class="layui-input">
                        </div>
                    </div>
                    <button class="layui-btn" lay-submit lay-filter="formReply">评论</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>

                </div>

            </form>
        </div>
    </div>
    <!--评论模块结束-->
</div>
{/block}
{block name="js"}
<script src="__JS__/showdown.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
{/block}
{block name="script"}
<script>
    let id = $('#article_id').html();
    $.ajax({
        url: '/article/read/'+id,
        type: 'GET',
        dataType: 'json',
        success: function (res) {
            let converter = new showdown.Converter();
            converter.setFlavor('github');
            let html = converter.makeHtml(res.article.content);
            $('#preview').html(html);
        }
    })
    var res1 = 11;

    function love(res) {
        let id = res.getAttribute('data-content-id');
        $.ajax({
            url: '/love/'+id,
            type: 'GET',
            dataType: 'json',
            success: function (ajax_res) {

                res.children[1].innerHTML = ++(res.children['1'].innerText);
            },
            error:function (ajax_res) {
                console.log(ajax_res)
            }
        })
    }
</script>
<script>hljs.initHighlightingOnLoad();</script>
{/block}
