{extend name="base"}
{block name="title"}下边是有关 <strong style="color: red;">{$Request.param.search}</strong> 的搜索结果{/block}
{block name="body"}
<div style="padding-top: 20px;">
    <div class="articleList">
        {if !$search_list}
        <h1>没有与<strong style="color: red;">{$Request.param.search}</strong>相关的内容</h1>
        {/if}
        {volist name="search_list" id='vo'}
        <div class="layui-card layui-anim layui-anim-scale">
            <div class="layui-card-header">
                <a href="{:url('/article/')}{$vo.id}" style="font-size: large">{$vo.title}</a>
                <span class="card-span"><a href="{:url('/articles/')}{$vo.cid ?? ''}">分类:{$vo.category.name ?? ''} </a>由<strong>{$vo.author}</strong>,发布于<strong>{$vo.time_txt ?? ''}</strong></span>
            </div>
            <div class="layui-card-body" style="margin: 10px">
                {if !$vo.introduction}
                该文章没有摘要信息
                {/if}
                {$vo.introduction ?? ''}
                <br>
                <div>

                    <!--<hr class="">-->
                    <br>
                    <a href="{:url('/article/')}{$vo.id}">
                        <button class="layui-btn" style="position: relative;float: right;">阅读更多</button>
                    </a>
                    <br>
                </div>
            </div>
        </div>
        {/volist}
    </div>
</div>
{/block}