{extend name="base"}
{block name="site_title"} | {$timeline.name ?? ''}{/block}
{block name="title"}<strong style="color: red;">{$timeline.name ?? ''}</strong>时间线{/block}
{block name="body"}
<div style="padding-top: 20px;">
    <div class="articleList">
        <ul class="layui-timeline">

            {volist name="timeline.timeline" id='vo'}
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">{$vo.time_txt}</h3>
                    <p>
                        {$vo.content}
                    </p>
                </div>
            </li>
            {/volist}
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">{$timeline.time_txt}</h3>
                    <div class="layui-timeline-title">时间线被创建</div>
                </div>
            </li>
        </ul>
    </div>
</div>
{/block}