{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class=""><a href="{:url('admin/notice/index')}">通知列表</a></li>
            <li class=""><a href="{:url('admin/notice/create')}">添加通知</a></li>
            <li class="layui-this">编辑通知</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form form-container" action="{:url('admin/notice/update')}" method="post">
                    <input type="hidden" name="id" value="{$notice.id}">


                    <div class="layui-form-item">
                        <label class="layui-form-label">作者</label>
                        <div class="layui-input-block">
                            <input type="text" name="author" value="{$notice.author ?? ''}" placeholder="（选填）请输入作者" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" value="{$notice.title ?? ''}" placeholder="标题" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" id="get">内容</label>
                        <div class="layui-input-block">
                            <textarea name="content" placeholder="" class="layui-textarea" id="content">{$notice.content ?? ''}</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">有效期</label>
                        <div class="layui-input-block">
                            <select name="active_time" lay-verify="required">
                                <option selected>{$notice.active_time ?? ''}</option>
                                <option value="1day">1天</option>
                                <option value="2day">2天</option>
                                <option value="3day">3天</option>
                                <option value="5day">5天</option>
                                <option value="7day">7天</option>
                                <option value="15day">15天</option>
                                <option value="30day">30天</option>
                            </select>
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="*">更新</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}