{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">用户列表</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table class="layui-table">
                    <tr>
                        <th style="width: 400px;">ID</th>
                        <th style="width: 400px;">用户名</th>
                        <th style="width: 400px;">密码</th>
                        <th style="width: 400px;">操作</th>
                    </tr>
                    {volist name="res" id="user"}
                    <tr>
                        <td style="width: 400px;">{$user.id}</td>
                        <td style="width: 400px;">{$user.name}</td>
                        <td style="width: 400px;">{$user.password}</td>
                        <td style="width: 400px;">
                            <button>编辑</button>
                            <button>删除</button>
                        </td>
                    </tr>
                    {/volist}
                </table>
            </div>
        </div>
    </div>
</div>
{/block}