{extend name="base"}
{block name="site_title"} | 归档{/block}
{block name="css"}

{/block}
{block name="title"}
归档
{/block}
{block name="subtitle"}{/block}
{block name="body"}
<div style="padding-top: 20px;">
    {volist name='categories' id='vo'}
    <div class="layui-card">
        <div class="layui-card-header layui-bg-blue">
            <a href="{:url('/articles/')}{$vo.id}">{$vo.name} 分类></a>
            <span style="color: #000000;font-size: smaller">{$vo.content}</span>
            <span><共有{$vo.article_count}篇文章></span>
        </div>
        <div class="layui-card-body">

            <div class="all-item">

                {volist name='vo.article' id='article'}
                <div class="layui-card layui-anim layui-anim-scale">
                    <div class="layui-card-header">
                        <a href="{:url('/article/')}{$article.id}">
                            {$article.title}
                            <span class="card-span">阅读量:{$article.reading} | 由 <strong>{$article.author}</strong> 发布于 <strong>{$article.time_txt ?? ''}</script></strong></span>
                        </a>
                    </div>
                </div>
                {/volist}
            </div>
        </div>
    </div>
    {/volist}
</div>
{/block}
{block name="js"}
{/block}
{block name="script"}

{/block}
