{extend name="base"}
{block name="site_title"} | 时间线列表{/block}
{block name="css"}

{/block}
{block name="title"}
时间线列表
{/block}
{block name="subtitle"}{/block}
{block name="body"}
<div style="padding-top: 20px;">
    <table class="layui-table" lay-even lay-skin="nob">
    {volist name='timeline_list' id='vo'}
        <tbody>
        <tr>
            <td><a href="{:url('/timeline/')}{$vo.id}">{$vo.name}<span style="position: relative;float: right;">{$vo.create_time}</span></a></td>
        </tr>
        </tbody>


    {/volist}
    </table>
</div>
{/block}
{block name="js"}
{/block}
{block name="script"}
<script>

</script>

{/block}
