{extend name="base"}
{block name="site_title"} | {$category_item.name} 分类 {/block}
{block name="css"}

{/block}
{block name="title"}
{$category_item.name} 分类
{/block}
{block name="subtitle"}{$category_item.content ?? '没有简介'}{/block}
{block name="body"}
<div style="padding-top: 20px;">
    <div class="layui-card">
        <div class="layui-card-header layui-bg-blue">
            {$category_item.name} 分类
            <span style="color: #000000;font-size: smaller">{$category_item.content}</span>
        </div>
        <div class="layui-card-body">

            <div class="all-item">

                {volist name='$category_item.article' id='article'}
                <div class="layui-card layui-anim layui-anim-scale">
                    <div class="layui-card-header">
                        <a href="{:url('/article/')}{$article.id}">
                            {$article.title}
                            <span class="card-span">阅读量:{$article.reading} | 由 <strong>{$article.author}</strong> 发布于 <strong>{$article.create_time}</strong></span>
                        </a>
                    </div>
                </div>
                {/volist}
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
{/block}
{block name="script"}
<script>
    let id = $('#article_id').html();
    $.ajax({
        url: '/index/article/read/',
        data: {'id': id},
        type: 'GET',
        dataType: 'json',
        success: function (res) {
            let converter = new showdown.Converter();
            converter.setFlavor('github');
            let html = converter.makeHtml(res.article.content);
            $('#preview').html(html);
        }
    })


</script>
<script>hljs.initHighlightingOnLoad();</script>
{/block}
