{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">文章列表</li>
            <li class=""><a href="{:url('admin/article/create')}">添加文章</a></li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th style="width: 30px;">ID</th>
                        <th>文章标题</th>
                        <th>文章简介</th>
                        <th>文章作者</th>
                        <th>文章分类</th>
                        <th>文章状态</th>
                        <th>文章访问量</th>
                        <th>置顶</th>
                        <th>推荐</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="article_list" item="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.title}</td>
                        <td>{$vo.introduction}</td>
                        <td>{$vo.author}</td>
                        <td>{$vo.cid}</td>
                        <td>{$vo.status}</td>
                        <td>{$vo.reading}</td>
                        <td>{$vo.is_top}</td>
                        <td>{$vo.is_recommend}</td>
                        <td>
                            <a href="{:url('admin/article/edit',['id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-mini">编辑</a>
                            <a href="{:url('admin/article/delete',['id'=>$vo['id']])}" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/block}